$gap : 2vw;
$padding : 4vw;
$width:(100vw - $gap*2 - $padding*2);
$bp : (
  mobile : 360px,
  tablet : 640px,
  desktop : 1080px,
);

.row {
  display: flex;
  gap: $gap;
  justify-content: center;
  flex-direction: row;
  padding: 2vh 4vw;
  width: 90%;
}

.input-group {
  display: flex;
  gap: $gap;
  text-align: left;
  justify-content: left;
  flex-direction: column;
  padding: 2vh 4vw;
  height: 100%;
  width: 40%;
}
.input-group mat-form-field {
  width: 100%;
}

.profile-icon {
  width: 120px;
}
.profile-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
